@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'https://js.arcgis.com/4.32/@arcgis/core/assets/esri/themes/dark/main.css';
@import url("https://js.arcgis.com/calcite-components/3.0.3/calcite.css");
@import url("https://js.arcgis.com/map-components/4.32/arcgis-map-components.css");

:root {
    font-family:  "Raleway", sans-serif;
    color: #444;
}

map {
    height: 100px;
}
        calcite-chip:first-of-type {
            --calcite-color-brand: teal;
            --calcite-color-text-1: teal;
        }

        calcite-chip:nth-of-type(2) {
            --calcite-color-brand: darkgreen;
            --calcite-color-text-1: darkgreen;
        }

        calcite-chip:nth-of-type(3) {
            --calcite-color-brand: darkred;
            --calcite-color-text-1: darkred;
        }

        calcite-chip:nth-of-type(4) {
            --calcite-color-brand: darkorange;
            --calcite-color-text-1: darkorange;
        }

        calcite-chip:nth-of-type(5) {
            --calcite-color-brand: purple;
            --calcite-color-text-1: purple;
        }

        